h1 {
    color: rgb(0, 132, 255);
}
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Blue Geometric.jpeg");
    background-size: cover;
    background-position: center;
}

header nav{
    float right: 7px 0;
}
header nav ul li {
    display: inline;
}
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
img{
    height: 200px;
    width: 200 px;
}
h2 {
    background: rgb(0, 132, 255);
}
h3 {
    background: rgb(0, 132, 255);
}
footer nav{
    float right: 7px 0;
}
footer nav ul li {
    display: inline;
}
  footer nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;